<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fetchipaddressesonlineforandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FetchIPAddressesOnlineForAndroid">
        <activity android:name=".MainActivity"
                  android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER"</intent-filter>
            </activity>
    </application>

    <!-- We need to request permission for the end user to access the Internet. To the best of the author's knowledge, it is not necessary to also have this permission at runtime. -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
